{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
<div class="row">
    <!-- This is first part -->
<div class="col-md-4">
  <!-- Empty colon -->
</div>
    <div class="col-md-8">
    <div class="container">
    <div class="row">
    <div class="border p-4 mt-4">
        <legend class="text-center"> Sign Up Now </legend>
        <a class="text-center"> please fill out this form to Register</a>
        <form method="POST">
            
            {% csrf_token %}
            {{form|crispy}}
    
            <input class="btn btn-success btn-active mt-2" type="submit" value="Register">
        </form>
          <div class="mt-4 pt-2">
                <p class="font-weight-bolder text-secondary"> If You Have Already an Account ! Please try to Sign in  </p>
                <p  class="font-weight-bolder text-secondary"> <a href="{% url 'login' %}"
                style="color:#2e86c1;">  Click Here To Sign in  ? </a></p>
            </div>
         
    </div>
    </div>
    </div>
    </div>
</div>
</div>

    

<br>
<br>
<br>
{% endblock content %}
