{% extends 'base.htm' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
<div class="row">
    <!-- This is first part -->
<div class="col-md-4">
  <!-- Empty colon -->
</div>
    <div class="col-md-8">
    <div class="container">
    <div class="row">
    <div class="border p-4 mt-4">
        <legend class="text-center"> Sign Up Now </legend>
        <a class="text-center"> please fill out this form to Register</a>
        <form method="POST">
            
            {% csrf_token %}
            {{form|crispy}}
    
            <input class="btn btn-success btn-active mt-2" type="submit" value="Register">
        </form>
        <div class="mt-2">
    <small class="font-weight-bolder text-blue"> if You Have Already an account!  </small>
   <small class="font-weight-bolder mt-2"> <a href="{% url 'login' %}"> Sign Up Here! </a> </small>
         <br>
         <br>
         </div>
         
    </div>
    </div>
    </div>
    </div>
</div>
</div>

    

<br>
<br>
<br>
{% endblock content %}
