/*@font-face {

    font-family: 
    src: url('../fonts/Allerta-Regular.ttf')  format("truetype"),
        local('Allerta');
}  */

.navbar {
    
   /* background-color:rgb(14, 13, 13); /*whichever you want*/
   border-bottom : 3px solid #008ed6 ;
   opacity: 0.8;
   color: #008ed6;
  /* filter:(opacity=50);   */

}
body {

    background-color : #f2f4f4  ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html,body {

   direction: ltr ;
   text-align: left ;
}


.image {

    background-image: url('profile.jpg') ;
    background-size: cover;
    background-position: center center;
    height: 400px ;

}
.title{
    text-align: center;
    color: rgb(5, 4, 4);
    font-size: medium;
    font-style: normal;

}
.myimg{

    width: 150px;
    height: 150px;
    display: block;
    margin : 0 auto ;
    padding-bottom: 10px;
}




.first {

    background-color: lightcyan;
    text-align: center ;
    padding : 2px 2px 2px 0 ;

}
.second {
    background-color: lightgray;
    text-align: center ;
    padding : 8px 8px 8px 0 ;
}
.third {

    background-color: lightslategray;
    text-align: center ;
    padding : 18px 18px 18px 0 ;
}






    