/*@font-face {

    font-family: 
    src: url('../fonts/Allerta-Regular.ttf')  format("truetype"),
        local('Allerta');
}  */

.navbar {
    
   border-bottom : 3px solid #008ed6 ;
   opacity: 0.8 ;
   background-color: white ;

}
body {

    background-color : #f2f4f4  ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html,body {

   direction: ltr ;
   text-align: left ;
}


.image {

    background-image: url('e.jpg') ;
    background-size: cover;
    background-position: center center;
    height: 400px ;

}
.title{
    
    text-align: center;
    color: black ;
    font-size: medium;
    font-style: normal;

}
.myimg{

    width: 350px;
    height: 350px;
    display: block;
    margin : 0 auto ;
    padding-bottom: 10px;
}




.second {
    background-color:  #2e86c1  ;
    text-align: center ;
    padding : 8px 8px 8px 0 ;
}
.third {

    background-color: lightslategray ;
    text-align: center ;
    padding : 18px 18px 18px 0 ;
    color: black;
}

.fourth {
    background-color: #0a2a47 ;
    color : white;
    text-align: center;
    
  
}

