{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
<div class="row">
  <div class="col-md-2">
  <!--Empy column-->
  </div>
<div class="col-md-8">
<div class="card  text-center" >
  <div class="card-header bg-success">
    About us :
  </div>
  <div class="card-body">
    <h5 class="card-title"> Hello , Dear Visitor!</h5>
    <p class="card-text"> Welcome to Diesefive platform</p>
     <p class="card-text">
     Diesefive is the platform where you will find new updated information
     about Digital marketing , business analysis, web development,and more things related to  these category list.
     Our Significant purpose is to provide all tools and knowledge related to new updates
     information to our visitors. we struggle everyday to deliver you the reliable
     and update information of  marketing , business , and new technologies in the world.</p>
     <p> if you would like to know more , Get connected with us on social media down blow : </p>
     <div class="col-md-6 col-lg-8 text-center text-md-right">
          <!-- Facebook -->
          <a class="fb-ic" href="https://web.facebook.com/Diesefive-108255180913394/">
            <i class="fab fa-facebook-f white-text mr-4" > </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/Diesefive/">
            <i class="fab fa-instagram white-text mr-4" > </i>
          </a>

         
             <!-- Telegram -->
           <a class="tw-ic" href="https://web.telegram.org/#/im?p=@diese5">
            <i class="fab fa-telegram white-text mr-4"> </i>
          </a>
         
          <!-- Google +-->
        <a class="gplus-ic" href="https://www.youtube.com/channel/UCqDvKCHZD17a7O7WAQASTWw/featured?view_as=subscriber">
          <i class="fab fa-youtube"></i>
          </a>
        </div>
    <a href="{% url 'home' %}" class="btn btn-lg btn-block btn-success mt-4 c text-center"> Back Home </a>
  </div>
  <div class="card-footer text-muted">
   Diesefive.com
  </div>
</div>
 </div>
 
    <div class="col-md-2">
      <!--Empy column-->
    </div>

</div>
</div>




{% endblock content %}