<section>
  <header> 
  {% for post in posts %}
  <div class="col-md-4">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="{{post.image.url}}" alt="Card image cap" >
      <div class="card-body">
        <h5 class="card-title"> {{ post.title }} </h5>
        <p class="card-text"> <!--{{post.content}} --></p>
        <p class="card-text"><small class="text-muted">Last updated {{post.post_date|date:'d-m-Y'}} </small>
      </div>
    </div>
   </div>
  </div>
  <br>
   {% endfor %}
  </header>
</section>