{% extends 'base.html' %}
{% block content %}


 <section>
        <header>
                 <div class="container mr-2 mt-5">
                    <div class="row ml-3">
                           <!--First Part Started Here-->
                          <div class="col-md-8">
                          <div class="row mr-5">
                              
                                {% for book in books %}
          

                                <div class="card mb-3" >
                                        <img class="card-img-" src="{{book.cover.url}}" alt="Card image cap"  style="height: 18rem;">
                                        <div class="card-body">
                                            <p class="card-title">{{book.title}}</p>
                                          <p class="card-title">{{book.headline}}</p>
                                           {% if book.content|length >= 120 %}
                                           {{book.content|slice:'100'}} (...)
                                           {% else %}
                                          <p class="card-text">{{book.content|linebreaks}}</p>
                                          {% endif %}
                                          <p class="card-text"><small class="text-muted">Last updated 1 hour ago </small></p>
                                          <a href="{% url 'book_detail' book.id %}" class="btn btn-success">Read more ...</a>
                
                                        </div>
                                      </div>
                                {% endfor %}
                              </div> 
                              </div>
                                <div class="col-md-4 text-center">
                                <div class="container"> 
                                    <div class="row ml-5">
                          
                    
                                            {% include 'library.html' %}
                                            
                                    
      
      
                               </div>
                                </div>
                               </div>
                    </div>
                  </div>
        </header>
</section>

                  
            <!-- this is pagiantion -->

          <div class="mt-4 text-center">
       {% include 'book_paginator.html' with page=books %}
          </div>

          <!-- ended_up tag pagiantion -->


{% endblock content %}