{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<section>
  <header>
        <div class="container ml-0  mt-4">
            <div class="row">
               <div class="col-md-4">
                   
                   <!--empty colum-->
                       
                 </div>
                     <!--First Part Started Here-->
                     <!--Second section -->
                 <div class="col-md-8">
                        <div class="card mb-3">
                          <img class="card-img-top" src="{{post.image.url}}" alt="picture"  style="height: 18rem;">
                          <div class="card-body">
                            <h5 class="card-title">{{post.title}}</h5>
                            <h5 class="card-title">{{post.sub_title}}</h5>
                            <p class="card-text mt-4">{{post.content|linebreaksbr}}</p>
                            <p class="card-text"><small class="text-muted">Last updated 1 hour ago </small></p>
                          </div>
                       </div>
                 </div>
            </div>
      </div>
    </header>
</section>

<section>
  <header>
        <div class="container ml-0">
            <div class="row">
                <div class="col-md-4">
                
                   <!--this is first part -->
                </div>
            <!--this second part -->
            <div class="col-md-8">
              <h5>Express your view by Comment Here! </h5>
              <button type="button" class="btn btn-outline-success"> All comments ({{comments.count}}) </button> 
             <div class="border bg-light p-4 mb-5 mt-4">
                    {% for comment in comments %}
                     <ul class="p-3 comment">
                    <p class="border-bottom">{{comment.name}} : <p>
                    <p> " {{comment.body}}   " </p>
                    <p>  On : {{comment.comment_date|date:'d-m-Y'}} </p>
                     <div class="border-bottom mb-3 mt-2"></div>
                    
                        {% empty %}
                 <h5 class="text-center p-4 mb-3 comment"> No comments yet </h5>
                {% endfor %}
             </div>

<!-- Comment Form -->

<h5>Leave us your Feedback in the Comments Section Down blow!</h5>


    <form method="POST">
        {% csrf_token %}
        {{comment_form|crispy}}
        <input class="btn btn-success" type="Submit" value="Submit">
    </form>
          </div>
       </div>
    </div>
</header>
</section>



<br>
<br>
<br>
<br








{% endblock content %}

