{% extends 'base.htm' %}
{% block content %}
{% load crispy_forms_tags %}

<section>
  <header>
        <div class="container ml-0">
            <div class="row">
                <div class="col-md-4">

                  
                  
                 </div>
                     <!--First Part Started Here-->
                     <!--Second section -->
                 <div class="col-md-8">
                       <div class="container">
                           <div class="row">
                       
                               <div class="card">
                                 <img class="card-img" src="{{post.image.url}}" alt="Bologna">
                                 <div class="card-img-overlay">
                                   <a href="#" class="btn btn-light btn-sm"> type : </a>
                                 </div>
                                 <div class="card-body">
                                   <h4 class="card-title"> {{post.title}} </h4>
                        
                                   <p class="card-text">{{post.content}}</p>
                                   <a href="#" class="btn btn-info"> read more </a>
                                 </div>
                                  <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                                  <p class="views">Last updated :  {{post.post_date|date:'d-m-Y'}}  </p>
                                  
                          </div>
                      </div>
                  </div>
              </div>
            </div>
         </div>
      </div>
    </header>
</section>
 


  


  
<section>
  <header> 
 <!-- {% for post in posts %} -->
  <div class="col-md-4 float-right"> 
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="{{post.image.url}}" alt="Card image cap" style="width:420px; height:150px;" >
      <div class="card-body">
        <h5 class="card-title"> {{ post.title }} </h5>
        <p class="card-text">{{post.content}}</p>
        <p class="card-text"><small class="text-muted">Last updated {{post.post_date|date:'d-m-Y'}} </small></p>
      </div>
    </div>
   </div>
  </div>
 <!-- {% endfor %} --> 
  </header>
</section>



{% endblock content %}