{% block content %}
<header> 
<div class="container text-center">
        <div class="row">
         <div class="card mt-3" style="width: 18rem;">
            <div class="alert alert-success" role="alert">
              Related articles
            </div>
            <div class="card-body">
              {% for post in posts reversed %}
               <p><img src="{{post.image.url}}" class="img-fluid rounded-circle " style="width: 70px; height:70px;"> </p>
               <p class="card-title">{{post.title}}</p>
                 <p class="card-text"><small class="text-muted">Last updated 1 hour ago </small></p>
               <a href="{% url 'detail' post.id %}" class="btn btn-success">Read more ...</a>
               <p class="border-bottom pb-3 mb-4 mt-4"></p>
               {% endfor %}
             </div>
           </div>
        </div>
   </div>
</header>

{% endblock %}